* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
}

#container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin:30px 50px;
  font-size: 14pt;
}

#chart {
  width: 90%;
  height: 100%;
  margin-left: 50px;
}
